/**************/
/* CSS REMEDY */
/**************/

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: var(--color-background);
}

a,
h2,
h3,
p {
	font-family: var(--font-family);
	text-decoration: none;
}




/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	--color-text: #222222;
	--form: #222222;
	--color-background: #eee;
	--color-title: white;
	--font-family: verdana;
	--grey: #666666;
	--hover: red;
}

/* Dit aantonen in herkansing */
/* Dit is voor de darkmode: Bron in de les en mondeling besproken */
@media (prefers-color-scheme:dark) {
	:root {
		--color-text: rgb(204, 204, 204);
		--color-background: rgb(61, 61, 61);
		--grey: rgb(204, 204, 204);
		--form: #222222;
	}
}


/****************/
/* JOUW STYLING */
/****************/



/* Dit is de nav */

header nav ul {
	display: flex;
	flex-direction: row;
	list-style: none;
	margin: 1em;
	align-items: center;
}

nav ul li:first-of-type {
	margin: 0 1em;
}


header nav ul li:nth-of-type(3){
margin-left: auto;
padding-right: 1.5em;
}

nav img, nav svg, h1 {
	height: 1em;
}

/* Dit verandert de kleur niet, alleen met "red"
nav svg {
	fill: var(--color-text);
} */

/* Dit is de dropdown menu */

/* Menu dropdown bron inspiratie: https://www.w3schools.com/howto/howto_js_dropdown.asp 
aria-label besproken in de les*/

a[aria-label="dropdownmenu"] {
	font-family: var(--font-family);
	color: var(--color-text);
	text-decoration: none;
	color: var(--grey);
	padding: 0 0 0 .5em;
	position: relative;
	display: inline-block;
}

a[aria-label="dropdownmenu"]:hover {
	color: var(--hover)
}

ul[aria-label="Nieuws"] {
	position: absolute;
	display: block;
	background-color: white;
	z-index: 1;
	left: 20%;
	opacity: 0;
	transition: opacity 0.4s ease;
	width: 11em;
}

ul[aria-label="Sport"] {
	position: absolute;
	display: block;
	background-color: white;
	z-index: 1;
	left: 40%;
	opacity: 0;
	transition: opacity 0.4s ease;
	width: 11em;
}

ul[aria-label="Nieuws"] li {
	display: block;
	padding: .5em 1em .5em .5em;
	border-bottom: 1px solid rgb(222, 221, 221);
}

ul[aria-label="Sport"] li {
	display: block;
	padding: .5em 1em .5em .5em;
	border-bottom: 1px solid rgb(222, 221, 221);
}

ul[aria-label="Nieuws"] li:first-of-type, ul[aria-label="Sport"] li:first-of-type {
	margin: 0;
}

ul[aria-label="Nieuws"] li a {
	color: var(--grey);
	padding: .5em 1em .5em .2em;
	display: block;
}

ul[aria-label="Sport"] li a {
	color: var(--grey);
	padding: .5em 1em .5em .2em;
	display: block;
}

ul[aria-label="Nieuws"] li a:hover {
	color: var(--hover);
}



a[aria-label="dropdownmenu"]:hover + ul[aria-label="Nieuws"],
ul[aria-label="Nieuws"]:hover {
	opacity: 1;
}

a[aria-label="dropdownmenu"]:hover + ul[aria-label="Sport"],
ul[aria-label="Sport"]:hover {
	opacity: 1;
}

/* Hier begint de content  */

section img {
	width: 100%;
	border-radius: .2em;
}

section:first-of-type {
	position: relative;
}

section:first-of-type h2 {
	position: absolute;
	bottom: 0;
	padding: .5em;
	color: var(--color-title);
	background: linear-gradient(rgba(255, 255, 255, 0), rgb(0, 0, 0));
	/*Bron: https://www.w3schools.com/cssref/tryit.php?filename=trycss3_gradient-linear_trans */
}

/*Bron aardbeving animatie: https://imagekit.io/blog/creating-css-image-effects/#:~
:text=To%20create%20an%20animation%2C%20we,10%25%20of%20the%20animation%20duration. */

section:first-of-type img:hover {
	animation: vibrate 0.5s;
	animation-iteration-count: infinite;
}

@keyframes vibrate {
	0% {
		transform: rotate(0deg);
	}

	10% {
		transform: rotate(-1deg);
	}

	20% {
		transform: rotate(1deg);
	}

	30% {
		transform: rotate(0deg);
	}

	40% {
		transform: rotate(1deg);
	}

	50% {
		transform: rotate(-1deg);
	}

	60% {
		transform: rotate(0deg);
	}

	70% {
		transform: rotate(-1deg);
	}

	80% {
		transform: rotate(1deg);
	}

	90% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(-1deg);
	}
}

section:nth-of-type(2) {
	display: flex;
}

section:nth-of-type(2) article {
	margin: 1em;
}

section:nth-of-type(2) article img {
	width: 10em;
	height: 10em;
}

h3 {
	color: var(--color-text);
	font-size: 0.8em;
	font-weight: 100;
	padding: .5em 1em .5em 0;
}

main section:last-of-type article {
	display: flex;
	align-items: center;
	border-bottom: 1px solid rgb(222, 221, 221);
}

main section:last-of-type img {
	width: 6em;
	height: 4em;
	margin: 1em;
	border-radius: 0.2em;
}



/* Dit is de footer */


footer {
	background-color: var(--color-background);
	padding: 1.5em;
	display: flex;
	flex-direction: column;
}

footer h3 {
	color: red;
	font-weight: 900;
	padding-bottom: .5em;
}

footer a {
	color: var(--color-text);
	text-decoration: none;
	padding: .5em 0;
}

footer img {
	align-self: center;
	width: 4em;
}



/* Dit is de vormgeving voor de tab state */

/* De h2:focus en h:3focus is voor screenreaders om op headers te focussen*/

a:focus,
h2:focus,
h3:focus {
	border: 2px solid black;
}

/* Dit is uit de opdrachten over animaties Bron: https://codepen.io/shooft/pen/NWePYRO*/

@keyframes zoom {
	0% {
		scale: 1;
	}

	100% {
		scale: 1.05;
	}
}

article img:hover {
	animation-name: zoom;
	animation-duration: 1s;
	animation-iteration-count: 1;
}



/* De Wereld draait door animatie */

@keyframes Draai {
	0% {
		rotate: 0turn;
	}

	100% {
		rotate: 1turn;
	}
}

article[aria-label="draai"].ruzie img {
	animation-name: Draai;
	animation-duration: .3s;
	animation-iteration-count: 2;
}


/* Auto animatie */

@keyframes Salto {
	0% {
		rotate: 0deg;
	}

	100% {
		rotate: 180deg;
	}
}

article[aria-label="Auto"]:hover img {
	animation-name: Salto;
	animation-duration: 1s;
}


/* De bom animatie */

@keyframes Explosie {
	0% {
		scale: 1;
	}

	50% {
		scale: 1.3;
	}

	100% {
		scale: 1;
	}
}

article[aria-label="Bom"]:hover img {
	animation-name: Explosie;
	animation-duration: 1s;
	animation-iteration-count: 3;
}


/* 2e pagina */
/* Dit is de flip foto van Sinterklaar */

/*Bron flip: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_flip_image2 
helemaal veranderd naar eigen begrip*/

.flip {
	transition: transform 0.8s;
	transform-style: preserve-3d;
	padding-top: 15em;
}

.flip:hover {
	transform: rotateY(180deg);
}

.flip img {
	position: absolute;
	backface-visibility: hidden;
	width: 100vw;

	top: 0;
}

.flip img:last-of-type {
	transform: rotateY(180deg);
}

/* Detailpagina */

.detail p,
.detail h2 {
	margin:1em 0 1em;
	color: var(--color-text);
}

.detail article p:first-of-type {
	margin-top: 4em;
	font-weight: bold;
	color: #5b5b5b;
}

.detail article p {
	color: var(--color-text);
}

.detail article {
	margin: 1em;
}

/* Formulier */

.Form {
	background: #d5d5d5;
	margin: 2em auto;
	text-align: center;
	max-width: 20em;
	padding: 3em 2em;
	border-radius: 0.3em;

}

.Form h1 {
	background-color: transparent;
	color: rgb(227, 1, 1);
	font-family: var(--font-family);
	font-size: 1.5em;
	margin-bottom: 2em;
}

.Form p{
	font-size: 1em;
	line-height: 1.5em;
	margin-bottom: 2em;
	color: var(--form);
	background-color: transparent;
	font-family: var(--font-family);
}

.Form input{
	border-radius: 0.3em;
	width: 100%;
	height: 3em;
	border: none;
	padding: 0 2em;
	color: var(--color-text);
	margin-bottom: 2em;
	outline: none;
	font-size: 1em;
}

.Form button {
	border: 0.1em solid rgba(255, 255, 255, 0.5);
	border-radius: 0.3em;
	height: 3em;
	background-color: rgb(227, 1, 1);
	color: #fff;
	padding: 0 2em;
	font-weight: bold;
}