/**************/
/* CSS REMEDY */
/**************/

*, *::after, *::before {
  box-sizing:border-box;  
  margin: 0;
  padding: 0;
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
	--color-title: white;
	--font-family: century, arial;
}





/****************/
/* JOUW STYLING */
/****************/
nav ul li {
	margin: 1em;
	display: inline-block;
	font-weight: bold;
}

nav ul li a {
	font-family: var(--font-family);
	color: var(--color-text);
	text-decoration: none;
}

nav img {
	width: 2.5em;
	height: 1em;
	margin: 0;
}

body section img {
	width: 100%;
}

main section:first-of-type {
	position: relative;
}

main section:first-of-type h2{
	position: absolute;
	bottom:0;
	padding: 1em;
	font-family: var(--font-family);
	color: var(--color-title);
}

main section:nth-of-type(2) {
	display: flex;
}

main section:nth-child(2) article{
	margin: 1em;
}
main section:nth-child(2) img{
	border-radius: 0.2em;
}

main section:nth-child(2) p{
padding:.5em;
color: var(--color-text);
}